In [2]:
myset={1,2,3,4}
print(myset,type(myset))

{1, 2, 3, 4} <class 'set'>

In [4]:
#doesn't support duplicate value
myset={1,2,3,3,4,4,4,4}
print(myset,type(myset))

{1, 2, 3, 4} <class 'set'>

In [10]:
#store diff data type except which is mutable And True isn't being added because 1 is present and when we convert True into numbers it returns 1
myset={1,2,3,4,False,True,"ASD",}
print(myset,type(myset))

{False, 1, 2, 3, 4, 'ASD'} <class 'set'>

In [6]:
myset={1,2,3,4,True,"ASD",}
for value in myset:
    print(value)

1
2
3
4
ASD

In [7]:
myset={1,2,3,4,True,"ASD",}

myset.add("zxc")
print(myset)

{1, 2, 3, 4, 'ASD', 'zxc'}

In [11]:
myset={2,3,4,True,"ASD",}
myset2={6,7,8}
myset.update(myset2)
print(myset)

{True, 2, 3, 4, 'ASD', 6, 7, 8}

In [12]:
myset={1,2,3,4,True,"ASD",}
myset.remove(2)
print(myset)

{1, 3, 4, 'ASD'}

In [13]:
myset={1,2,3,4,True,"ASD",}
myset.discard(2)
print(myset)

{1, 3, 4, 'ASD'}

In [16]:
myset={2,3,4,True,"ASD",}
print(myset)
myset.pop()
print(myset)

{True, 2, 3, 4, 'ASD'}
{2, 3, 4, 'ASD'}

In [17]:
myset={2,3,4,True,"ASD",}
print(myset)
myset.clear()
print(myset)

{True, 2, 3, 4, 'ASD'}
set()