In [2]:
mytup=( 1,2,3,"asd" )
print(mytup,type(mytup))

(1, 2, 3, 'asd') <class 'tuple'>

In [3]:
mytup=( 1,2,3,"asd" )
print(mytup[1])

2

In [4]:
mytup=( 1,2,3,"asd" )
print(mytup[1:3])

(2, 3)

In [5]:
mytup=( 1,2,3,"asd" )
for value in mytup:
    print(value)

1
2
3
asd

In [6]:
mytup=( 1,2,3,"asd" )
for indx in range(len(mytup)):
    print(mytup[indx])

1
2
3
asd

In [8]:
mytup=( 1,2,3,"asd" )
temp=list(mytup)
temp[0]=6
mytup=tuple(temp)
print(mytup)

(6, 2, 3, 'asd')

In [10]:
mytup=( 1,2,3,"asd" )
mytup2=(4,6)
mytup+=mytup2
print(mytup)

(1, 2, 3, 'asd', 4, 6)

In [13]:
mytup=( 1,2,3)
(first,second,third)=mytup
print(first,second,third)

1 2 3

In [16]:
mytup=( 1,2,3,4,5)
(first,*second)=mytup
print(first,second,type(second))

1 [2, 3, 4, 5] <class 'list'>